doctype 5
html
  head
    title= "Bookshelf :: " + title
    != css('bootstrap.min')
    != css('application')
    link(rel='stylesheet', href='/stylesheets/#{stylesheet}.css')
  body
    div.container-narrow
      div.masthead
        ul.nav.nav-pills.pull-right
          li.active
            a(href='/')
              | Showcase &nbsp;
              i.icon-tasks
          li
            a&nbsp;
          if undefined != currentUser
            li
              div.btn-group
                button.btn(data-toggle='dropdown')
                  i.icon-user
                  | &nbsp; Hi #{currentUser} !
                  button.btn.dropdown-toggle(data-toggle='dropdown')
                    span.caret
                ul.dropdown-menu
                  li
                    a(href='/admin/books')
                      i.icon-edit &nbsp; &nbsp; Manage Shelf
                  li
                    a(href='/logout')
                      i.icon-off &nbsp; &nbsp; Logout
        h2.page-title.muted Book Shelf #{title ? " - " + title : ""}
      hr
      include flash_messages
      div.row-fluid.marketing
        block content
      hr
      div.footer
        | 2013 ©
        a(href="http://twitter.com/suruwat")
          |  Vishal
        |  @ Webonise Lab
    != js('application')