doctype 5
html
  head
    title= "Bookshelf :: " + title
    != css('bootstrap.min')
    != css('application')
    link(rel='stylesheet', href='/stylesheets/#{stylesheet}.css')
  body
    div.container-narrow
      div.masthead
        ul.nav.nav-pills.pull-right
          li.active
            a(href='#') Home
          li
            a&nbsp;
          if undefined != currentUser
            li
              div.btn-group
                button.btn(data-toggle='dropdown')
                  | Hi #{currentUser} !
                  button.btn.dropdown-toggle(data-toggle='dropdown')
                    span.caret
                ul.dropdown-menu
                  li
                    a(href='/logout') Logout
        h3.muted Book Shelf #{title ? " - " + title : ""}
      hr
      include flash_messages
      div.row-fluid.marketing
        block content
      hr
      div.footer
        p © Webonise Lab 2013
    != js('application')