form.form-horizontal(method="post", action=urlFor(book))
  div.control-group
    label.control-label(for='name') Name
    div.controls
      input#name(type='text',placeholder='Name', name='name')
  div.control-group
    label.control-label(for='author') Author
    div.controls
      input#author(type='text',placeholder='Author Name', name='author')
  div.control-group
    label.control-label(for='language') Language
    div.controls
      select#language(name='language')
        option(value='Marathi') Marathi
        option(value='English') English
  div.control-group
    div.controls
      button.btn.btn-small.btn-success(type='submit') Add to Shelf